<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sysord.mad.configDsl.extQManager.ExtQConfigService">
      <extQService
            class="com.sysord.mad.configdsl.extq.acceleo.AcceleoExtQConfigService">
      </extQService>
   </extension>

   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
            class="com.sysord.mad.configDsl.externalQueryManager.ExtQManagerExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
            uriExtension="emtl">
      </resourceServiceProvider>
   </extension>


</plugin>
